
@import 'antd/dist/reset.css';

.glownePhoto img{
  width: 100%;
height: auto;
    position: absolute;
}
.btn{
 background-color: #61dafb;
  max-height: 20px;
}

.title{
    font-family: 'Courgette', cursive;
    font-size: 50px!important;
    color: white!important;
    text-shadow: 4px  4px 4px black;
}